    body {
      background-color: #282c34;
      font-family: 'Arial', sans-serif;
      color: #fff;
    }
    #clock {
      max-width: 400px;
      margin: 50px auto;
      padding: 20px;
      border-radius: 10px;
      background-color: #333;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      text-align: center;
    }
    .control-panel {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    .control-panel div {
      width: 120px;
    }
    .control-panel button {
      margin: 5px;
    }
    #time-left {
      font-size: 4rem;
      margin-bottom: 20px;
    }
    .btn-primary {
      background-color: #61dafb;
      border: none;
      color: #000;
    }
    .btn-danger {
      background-color: #d9534f;
      border: none;
      color: #fff;
    }
    .btn-success {
      background-color: #5cb85c;
      border: none;
      color: #fff;
    }
